// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// File: Base
// -------------------------------------------------------------

*,
*::after,
*::before {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

*::-webkit-scrollbar {
  -webkit-appearance: none;
  background: transparent;
  display: none;
  width: 0;
}

::-moz-selection {
  background-color: $blue-500;
  color: $grey-000;
}

::selection {
  background-color: $blue-500;
  color: $grey-000;
}

html,
body {
  @include font-size-m;
  background-color: $grey-000;
  color: $grey-900;
  font-display: swap;
  font-family: $sans;
  letter-spacing: .030em;
  margin: 0;
  min-height: 100%;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

body {
  @include clearfix;
  overflow-x: hidden;
  overflow-y: scroll;
}

a,
button,
[type=button],
[type=submit] {
  @include hover-animation(.5s);
  border: 0;
  cursor: pointer;
  margin: 0;
  padding: 0;
  text-decoration: none;
  vertical-align: bottom;
}

a {
  color: $grey-900;
  &:link,
  &:visited {
    color: $grey-900;
  }
  &:hover,
  &:active {
    color: $blue-500;
  }
}

figure {
  display: block;
  float: left;
  height: auto;
  margin: 0;
  padding: 16px;
  width: 100%;
  figcaption {
    @include font-size-xxs;
    background-color: $grey-900;
    border-radius: 3px;
    color: $grey-000;
    display: block;
    float: left;
    height: auto;
    margin: 4px 0 0;
    padding: 8px;
    width: auto;
  }
}

picture {
  background-color: $white;
  border-radius: 3px;
  display: block;
  float: left;
  height: auto;
  margin: 0;
  padding: 0;
  width: 100%;
}

img {
  border: 0;
  border-radius: 3px;
  display: block;
  float: left;
  // height: 100%;
  height: auto;
  margin: 0;
  max-width: 100%;
  padding: 0;
  width: 100%;
}

svg {
  border: 0;
  display: block;
  height: inherit;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: auto;
}

span {
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  margin: 0;
  vertical-align: bottom;
}
