// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// File: Buttons
// -------------------------------------------------------------

@mixin button-default {
  @include button-gray-blue;
  appearance: none;
  border: 0;
  border-radius: 3px;
  display: block;
  float: left;
  font-weight: 900;
  letter-spacing: .030em;
  text-align: center;
  text-decoration: none;
  width: auto;
  object,
  img,
  svg {
    border: none;
    float: left;
    margin: 0;
    padding: 0;
  }
  .icon {
    float: left;
    line-height: inherit;
    width: auto;
  }
}

@mixin button {
  @include button-default;
}

@mixin button-s {
  @include button-default;
  @include font-size-s;
  font-size: 14px;
  padding: 8px 16px;
  .icon {
    height: 24px;
    margin: 4px 0;
    &.float-left { margin-right: 8px; }
    &.float-right { margin-left: 8px; }
  }

  // Mobile
  // -------------------------------------------------------------
  @media #{$mobile} {
    font-size: 14px;
    .icon { margin: 0; }
  }
}

@mixin button-m {
  @include button-default;
  @include font-size-m;
  font-size: 16px;
  padding: 10px 20px;
  .icon {
    height: 32px;
    margin: 4px 0;
    &.float-left { margin-right: 10px; }
    &.float-right { margin-left: 10px; }
  }

  // Mobile
  // -------------------------------------------------------------
  @media #{$mobile} {
    font-size: 16px;
    .icon { margin: 0; }
  }
}

@mixin button-l {
  @include button-default;
  @include font-size-l;
  font-size: 16px;
  padding: 12px 24px;
  .icon {
    height: 40px;
    margin: 4px 0;
    &.float-left { margin-right: 12px; }
    &.float-right { margin-left: 12px; }
  }

  // Mobile
  // -------------------------------------------------------------
  @media #{$mobile} {
    font-size: 16px;
    .icon { margin: 0; }
  }
}

// Button Colours

@mixin button-gray {
  &:link,
  &:visited {
    background-color: $gray-900;
    color: $gray-000;
    .icon { svg * { fill: $gray-000; } }
  }
  &:hover,
  &:active {
    background-color: $gray-900;
    color: $gray-000;
    .icon { svg * { fill: $gray-000; } }
  }
}

@mixin button-gray-blue {
  &:link,
  &:visited {
    background-color: $gray-900;
    color: $gray-000;
    .icon { svg * { fill: $gray-000; } }
  }
  &:hover,
  &:active {
    background-color: $blue-500;
    color: $gray-000;
    .icon { svg * { fill: $gray-000; } }
  }
}

@mixin button-blue-gray {
  &:link,
  &:visited {
    background-color: $blue-500;
    color: $gray-000;
    .icon { svg * { fill: $gray-000; } }
  }
  &:hover,
  &:active {
    background-color: $gray-900;
    color: $gray-000;
    .icon { svg * { fill: $gray-000; } }
  }
}

// Classes
// -------------------------------------------------------------
.button   { @include button; }
.button-s { @include button-s; }
.button-m { @include button-m; }
.button-l { @include button-l; }

.button-gray      { @include button-gray; }
.button-gray-blue { @include button-gray-blue; }
.button-blue-gray { @include button-blue-gray; }
