// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// File: Links
// -------------------------------------------------------------

@mixin link-default {
  @include link-black-blue;
  appearance: none;
  background-color: transparent;
  border: 0;
  display: block;
  float: left;
  font-weight: 900;
  letter-spacing: .030em;
  width: auto;
  &.underline {
    text-decoration-line: underline;
    text-decoration-thickness: 8px;
    text-underline-offset: 12px;
  }
  &.hover-underline {
    &:hover,
    &:active {
      text-decoration-line: underline;
      text-decoration-thickness: 8px;
    }
  }
  span,
  .icon {
    display: block;
    float: left;
    line-height: inherit;
    width: auto;
    object,
    img,
    svg,
    svg * {
      @include hover-animation(.5s);
      border: none;
      float: left;
      margin: 0;
      padding: 0;
    }
  }

  @media #{$mobile} {
    &.underline {
      text-decoration-thickness: 6px;
      text-underline-offset: 8px;
    }
    &.hover-underline {
      &:hover,
      &:active {
        text-decoration-thickness: 6px;
      }
    }
  }
}

@mixin link {
  @include link-default;
}

@mixin link-s {
  @include link-default;
  @include font-size-s;
  &.underline {
    text-decoration-line: underline;
    text-decoration-thickness: 6px;
    text-underline-offset: 8px;
  }
  &.hover-underline {
    &:hover,
    &:active {
      text-decoration-line: underline;
      text-decoration-thickness: 6px;
    }
  }
  .icon {
    height: 24px;
    margin: 4px 0;
    &.float-left { margin-right: 8px; }
    &.float-right { margin-left: 8px; }
    object,
    img,
    svg {
      height: 24px;
    }
  }

  @media #{$mobile} {
    .icon { margin: 0; }

    &.underline {
      text-decoration-thickness: 4px;
      text-underline-offset: 6px;
    }
    &.hover-underline {
      &:hover,
      &:active {
        text-decoration-thickness: 4px;
      }
    }
  }
}

@mixin link-m {
  @include link-default;
  @include font-size-m;
  &.underline {
    text-decoration-line: underline;
    text-decoration-thickness: 8px;
    text-underline-offset: 12px;
  }
  &.hover-underline {
    &:hover,
    &:active {
      text-decoration-line: underline;
      text-decoration-thickness: 8px;
    }
  }
  .icon {
    height: 32px;
    margin: 4px 0;
    &.float-left { margin-right: 10px; }
    &.float-right { margin-left: 10px; }
    object,
    img,
    svg {
      height: 32px;
    }
  }

  @media #{$mobile} {
    .icon { margin: 0; }

    &.underline {
      text-decoration-thickness: 6px;
      text-underline-offset: 8px;
    }
    &.hover-underline {
      &:hover,
      &:active {
        text-decoration-thickness: 6px;
      }
    }
  }
}

@mixin link-l {
  @include link-default;
  @include font-size-l;
  &.underline {
    text-decoration-line: underline;
    text-decoration-thickness: 10px;
    text-underline-offset: 14px;
  }
  &.hover-underline {
    &:hover,
    &:active {
      text-decoration-line: underline;
      text-decoration-thickness: 10px;
    }
  }
  .icon {
    height: 40px;
    margin: 4px 0;
    &.float-left { margin-right: 12px; }
    &.float-right { margin-left: 12px; }
    object,
    img,
    svg {
      height: 40px;
    }
  }

  @media #{$mobile} {
    .icon { margin: 0; }
    &.underline {
      text-decoration-thickness: 8px;
      text-underline-offset: 12px;
    }
    &.hover-underline {
      &:hover,
      &:active {
        text-decoration-thickness: 8px;
      }
    }
  }
}

// Link Colours

@mixin link-black {
  color: $black-900;
  fill: $black-900;
  &:link,
  &:visited {
    color: $black-900;
    .icon { svg * { fill: $black-900; } }
  }
  &:hover,
  &:active {
    color: $black-900;
    .icon { svg * { fill: $black-900; } }
  }
}

@mixin link-black-blue {
  color: $black-900;
  fill: $black-900;
  &:link,
  &:visited {
    color: $black-900;
    .icon { svg * { fill: $black-900; } }
  }
  @media (hover: hover) {
    &:hover,
    &:active {
      color: $blue-500;
      .icon { svg * { fill: $blue-500; } }
    }
  }
}

@mixin link-blue-black {
  color: $blue-500;
  fill: $blue-500;
  &:link,
  &:visited {
    color: $blue-500;
    .icon { svg * { fill: $blue-500; } }
  }
  @media (hover: hover) {
    &:hover,
    &:active {
      color: $black-900;
      .icon { svg * { fill: $black-900; } }
    }
  }
}

// Classes
// -------------------------------------------------------------
.link     { @include link; }
.link-s   { @include link-s; }
.link-m   { @include link-m; }
.link-l   { @include link-l; }

.link-black        { @include link-black; }
.link-black-blue   { @include link-black-blue; }
.link-blue-black   { @include link-blue-black; }
