// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// File: Fonts
// -------------------------------------------------------------

// Imports
@import url("https://use.typekit.net/sjv6gba.css");

// Adobe Fonts
$mono: "Courier New", Courier, monospace !default;
$sans: museo-sans, "Segoe UI", Tahoma, Verdana, sans-serif !default;
$serif: museo-slab, Times, Georgia, serif !default;
