// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// File: Palettes
// -------------------------------------------------------------

// Transparent
// -------------------------------------------------------------
$transparent: rgba(255, 255, 255, 0) !default;

// White
// -------------------------------------------------------------
$white: rgba(255, 255, 255, 1) !default;

// Shadow (black-900)
// -------------------------------------------------------------
$shadow: rgba(16, 24, 32, .1) !default;

// Black
// -------------------------------------------------------------
// https://www.colorhexa.com/101820
// https://icolorpalette.com/color?q=101820
// https://noeldelgado.github.io/shadowlord/#101820

$black-000: #f3f3f4 !default;
$black-100: #cfd1d2 !default;
$black-200: #b7babc !default;
$black-300: #9fa3a6 !default;
$black-400: #888c90 !default;
$black-500: #707479 !default;
$black-600: #585d63 !default;
$black-700: #40464d !default;
$black-800: #282f36 !default;
$black-900: #101820 !default; // Primary

// Blue
// -------------------------------------------------------------
// https://www.colorhexa.com/005df6
// https://icolorpalette.com/color?q=005df6
// https://noeldelgado.github.io/shadowlord/#005df6

$blue-000: #f2f7ff !default;
$blue-100: #ccdffd !default;
$blue-200: #99befb !default;
$blue-300: #669efa !default;
$blue-400: #337df8 !default;
$blue-500: #005df6 !default; // Primary
$blue-600: #004ac5 !default;
$blue-700: #003894 !default;
$blue-800: #002562 !default;
$blue-900: #001331 !default;
