// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// File: Brand
// -------------------------------------------------------------

$class: "brand";

.#{$class} {
  float: left;
  .#{$class}-box {
    float: left;
    .#{$class}-item {
      float: left;
      padding: 8px 16px;
      .#{$class}-icon,
      .#{$class}-logo {
        box-sizing: content-box;
        float: left;
        height: 24px;
        padding: 16px;
      }
      .#{$class}-icon { width: 23.09px; }
      .#{$class}-logo { width: 152.02px; }
    }
  }
}

// Mobile
// -------------------------------------------------------------
@media #{$mobile} {
  .#{$class} {
    .#{$class}-box {
      .#{$class}-item {
      }
    }
  }
}
