// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// File: Content
// -------------------------------------------------------------

$class: "content";

.#{$class} {
  float: left;
  padding: 16px;
  width: 100%;
  .#{$class}-box {
    float: left;
    padding: 16px;
    width: 100%;
    .#{$class}-row {
      float: left;
      width: 100%;
    }
    .#{$class}-inner {
      float: left;
      max-width: 896px;
      width: 100%;
    }
    .#{$class}-item {
    }
  }
}

// Mobile
// -------------------------------------------------------------
@media #{$mobile} {
  .#{$class} {
    .#{$class}-box {
      .#{$class}-row {
      }
      .#{$class}-inner {
      }
      .#{$class}-item {
      }
    }
  }
}
