// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// File: Legal
// -------------------------------------------------------------

$class: "legal";

.#{$class} {
  float: left;
  width: 100%;
  .#{$class}-box {
    float: left;
    padding: 0 16px 16px;
    width: auto;
    .#{$class}-item {
      float: left;
      padding: 8px 16px 16px;
    }
  }
}

// Mobile
// -------------------------------------------------------------
@media #{$mobile} {
  .#{$class} {
    .#{$class}-box {
      padding: 0 8px 8px;
      .#{$class}-item {
        padding: 4px 8px 8px;
      }
    }
  }
}
