// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// File: Sitemap
// -------------------------------------------------------------

$class: "sitemap";

.#{$class} {
  float: right;
  .#{$class}-box {
    float: left;
    padding: 16px;
    .#{$class}-item {
      float: left;
      padding: 16px;
    }
  }
}

// Mobile
// -------------------------------------------------------------
@media #{$mobile} {
  .#{$class} {
    width: 100%;
    .#{$class}-box {
      padding: 16px 16px 0;
      .#{$class}-item {
        padding: 16px 8px 8px;
        &:first-child {
          padding-left: 16px;
        }
        &:last-child {
          padding-right: 16px;
        }
      }
    }
  }
}
