// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// File: Social Networks
// -------------------------------------------------------------

$class: "social-networks";

.#{$class} {
  float: left;
  width: 100%;
  .#{$class}-box {
    float: left;
    padding: 16px;
    width: auto;
    .#{$class}-item {
      float: left;
      padding: 16px;
    }
  }
}

// Mobile
// -------------------------------------------------------------
@media #{$mobile} {
  .#{$class} {
    .#{$class}-box {
      padding: 8px;
      .#{$class}-item {
        padding: 8px;
      }
    }
  }
}
