// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// File: Social Networks
// -------------------------------------------------------------

$class: "social-networks";

.#{$class} {
  float: right;
  .#{$class}-box {
    float: left;
    padding: 16px;
    width: auto;
    .#{$class}-item {
      float: left;
      margin: 0;
      padding: 16px;
    }
  }
}

// Mobile
// -------------------------------------------------------------
@media #{$mobile} {
  .#{$class} {
    width: 100%;
    .#{$class}-box {
      padding: 0;
      .#{$class}-item {
      }
    }
  }
}
