// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// File: Colours
// -------------------------------------------------------------

// Transparent
// -------------------------------------------------------------
.transparent-bg { background-color: transparent !important; }
.transparent-cl { background-color: transparent !important; }

// White
// -------------------------------------------------------------
.white-bg { background-color: $white !important; }
.white-cl { color: $white !important; }

// Black
// -------------------------------------------------------------
.black-bg { background-color: $black !important; }
.black-cl { color: $black !important; }

// Gray
// -------------------------------------------------------------
.gray-000-bg { background-color: $gray-000 !important; }
.gray-100-bg { background-color: $gray-100 !important; }
.gray-200-bg { background-color: $gray-200 !important; }
.gray-300-bg { background-color: $gray-300 !important; }
.gray-400-bg { background-color: $gray-400 !important; }
.gray-500-bg { background-color: $gray-500 !important; }
.gray-600-bg { background-color: $gray-600 !important; }
.gray-700-bg { background-color: $gray-700 !important; }
.gray-800-bg { background-color: $gray-800 !important; }
.gray-900-bg { background-color: $gray-900 !important; }

.gray-000-cl { color: $gray-000 !important; }
.gray-100-cl { color: $gray-100 !important; }
.gray-200-cl { color: $gray-200 !important; }
.gray-300-cl { color: $gray-300 !important; }
.gray-400-cl { color: $gray-400 !important; }
.gray-500-cl { color: $gray-500 !important; }
.gray-600-cl { color: $gray-600 !important; }
.gray-700-cl { color: $gray-700 !important; }
.gray-800-cl { color: $gray-800 !important; }
.gray-900-cl { color: $gray-900 !important; }

// Blue
// -------------------------------------------------------------
.blue-000-bg { background-color: $blue-000 !important; }
.blue-100-bg { background-color: $blue-100 !important; }
.blue-200-bg { background-color: $blue-200 !important; }
.blue-300-bg { background-color: $blue-300 !important; }
.blue-400-bg { background-color: $blue-400 !important; }
.blue-500-bg { background-color: $blue-500 !important; }
.blue-600-bg { background-color: $blue-600 !important; }
.blue-700-bg { background-color: $blue-700 !important; }
.blue-800-bg { background-color: $blue-800 !important; }
.blue-900-bg { background-color: $blue-900 !important; }

.blue-000-cl { color: $blue-000 !important; }
.blue-100-cl { color: $blue-100 !important; }
.blue-200-cl { color: $blue-200 !important; }
.blue-300-cl { color: $blue-300 !important; }
.blue-400-cl { color: $blue-400 !important; }
.blue-500-cl { color: $blue-500 !important; }
.blue-600-cl { color: $blue-600 !important; }
.blue-700-cl { color: $blue-700 !important; }
.blue-800-cl { color: $blue-800 !important; }
.blue-900-cl { color: $blue-900 !important; }
