// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// File: Colours
// -------------------------------------------------------------

// Transparent
// -------------------------------------------------------------
.transparent-bg { background-color: transparent !important; }
.transparent-cl { background-color: transparent !important; }

// White
// -------------------------------------------------------------
.white-bg { background-color: $white !important; }
.white-cl { color: $white !important; }

// Black
// -------------------------------------------------------------
.black-bg { background-color: $black !important; }
.black-cl { color: $black !important; }

// grey
// -------------------------------------------------------------
.grey-000-bg { background-color: $grey-000 !important; }
.grey-100-bg { background-color: $grey-100 !important; }
.grey-200-bg { background-color: $grey-200 !important; }
.grey-300-bg { background-color: $grey-300 !important; }
.grey-400-bg { background-color: $grey-400 !important; }
.grey-500-bg { background-color: $grey-500 !important; }
.grey-600-bg { background-color: $grey-600 !important; }
.grey-700-bg { background-color: $grey-700 !important; }
.grey-800-bg { background-color: $grey-800 !important; }
.grey-900-bg { background-color: $grey-900 !important; }

.grey-000-cl { color: $grey-000 !important; }
.grey-100-cl { color: $grey-100 !important; }
.grey-200-cl { color: $grey-200 !important; }
.grey-300-cl { color: $grey-300 !important; }
.grey-400-cl { color: $grey-400 !important; }
.grey-500-cl { color: $grey-500 !important; }
.grey-600-cl { color: $grey-600 !important; }
.grey-700-cl { color: $grey-700 !important; }
.grey-800-cl { color: $grey-800 !important; }
.grey-900-cl { color: $grey-900 !important; }

// Blue
// -------------------------------------------------------------
.blue-000-bg { background-color: $blue-000 !important; }
.blue-100-bg { background-color: $blue-100 !important; }
.blue-200-bg { background-color: $blue-200 !important; }
.blue-300-bg { background-color: $blue-300 !important; }
.blue-400-bg { background-color: $blue-400 !important; }
.blue-500-bg { background-color: $blue-500 !important; }
.blue-600-bg { background-color: $blue-600 !important; }
.blue-700-bg { background-color: $blue-700 !important; }
.blue-800-bg { background-color: $blue-800 !important; }
.blue-900-bg { background-color: $blue-900 !important; }

.blue-000-cl { color: $blue-000 !important; }
.blue-100-cl { color: $blue-100 !important; }
.blue-200-cl { color: $blue-200 !important; }
.blue-300-cl { color: $blue-300 !important; }
.blue-400-cl { color: $blue-400 !important; }
.blue-500-cl { color: $blue-500 !important; }
.blue-600-cl { color: $blue-600 !important; }
.blue-700-cl { color: $blue-700 !important; }
.blue-800-cl { color: $blue-800 !important; }
.blue-900-cl { color: $blue-900 !important; }
