// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// File: Widths
// -------------------------------------------------------------

.width-wide     { max-width: 100% !important; width: 100% !important; }
.width-auto     { width: auto !important; }
.width-inherit  { width: inherit !important; }
